<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Followers</title>
    <style media="screen">
      body{
        align:center;
      }
    </style>
  </head>
  <body>
    {%if followers%}
     {%for x in followers%}
        {{x.follower_user.uname}}
        {{x.follower_user.luser.id}}
        <a href="/profile/{{x.follower_user.luser.id}}">view user</a>
     {%endfor%}
    {%else%}
       <h5>u dont have followers yet</h5>
    {%endif%}
  </body>
</html>
